# python cache files
.pycache/
.pytest_cache/
__pycache__/

# key test files
test.py
test_no_cui.py

# build files
dist/
build/
*.egg*

# visual studio code project files
.vscode/

# test coverage files
.coverage
htmlcov/

# my approach to 2048
2048_min.py